.account-info {
  max-width: 400px;
  margin: 0 auto;
}

.edit-account {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-top: 20px;
}

.edit-account .section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.section input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  resize: none;
  overflow: hidden;
}

.section input:disabled {
  background: #e2e2e2;
  cursor: not-allowed;
}

.edit-account button {
  background: var(--primary-color);
  color: #fff;
  border: 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  transition: background 0.3s ease;
}

.edit-account button:hover {
  background: var(--primary-dark);
}

.edit-account button:disabled {
  background: var(--primary-lighter);
  cursor: not-allowed;
}