.account-info {
  padding: 40px 50px;
  margin: 20px auto 0 auto;
  background: var(--background-secondary);
  border: none;
  border-radius: 8px;
}

.edit-account {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-top: 20px;
}

.edit-account .section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.section input {
  color: var(--text);
  width: 100%;
  padding: 10px 14px;
  margin: 10px 0;
  border: 1px solid var(--border);
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  resize: none;
  overflow: hidden;
  background: none;
  font-size: 15px;
}

.section input:disabled {
  background: var(--disabled-background);
  border: none;
  cursor: not-allowed;
  color: var(--disabled-text);
}

.section input:focus {
  outline: none;
  border: 1px solid var(--primary);
}

.edit-account button {
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
  transition: background 0.3s ease;
  margin-bottom: 14px;
}

.edit-account button:hover {
  background: var(--hover);
}

.edit-account button:disabled {
  background: var(--disabled-background);
  cursor: not-allowed;
}