.blog-details h2 {
	font-size: 30px;
	color: #ff7f3b;
	margin-bottom: 10px;
	margin: 10px 0;
}

.blog-details p {
	margin: 10px 0;
}

.blog-details div {
	margin: 20px 0;
}

.blog-details button {
	background: #ff7f3b;
	color: #fff;
	border: 0;
	padding: 8px 12px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 15px;
	margin-right: 10px;
	transition: background 0.3s ease;
}

.blog-details button:hover {
	background: #ff6716;
}

article p {
  word-wrap: break-word;
}