.create {
	max-width: 400px;
	margin: 0 auto;
}
.create label {
	text-align: left;
	display: block;
}
.create h2 {
	font-size: 25px;
	color: var(--primary-color);
	margin-bottom: 30px;
  text-align: center;
}
.create input, .create textarea, .create select {
	width: 100%;
	padding: 6px 10px;
	margin: 10px 0;
	border: 1px solid #ddd;
	box-sizing: border-box;
	display: block;
  resize: none;
  overflow: hidden;
}
.create button {
	background: var(--primary-color);
	color: #fff;
	border: 0;
	padding: 10px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 15px;
	width: 100%;
	transition: background 0.3s ease;
}

.create button:hover {
	background: var(--primary-dark);
}