.create {
	padding: 40px 50px;
  margin: 20px auto 0 auto;
  background: var(--background-secondary);
  border: none;
  border-radius: 8px;
}

.create-blog {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-top: 20px;
}

.create .section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.create label {
	text-align: left;
	display: block;
}

.create input, .create textarea {
  background: var(--background-secondary);
	width: 100%;
	padding: 6px 10px;
	margin: 10px 0;
	border: 1px solid var(--border);
	box-sizing: border-box;
	display: block;
  resize: none;
  overflow: hidden;
  border-radius: 5px;
  color: var(--text);
}
.create input:focus, .create textarea:focus {
  outline: none;
  border: 1px solid var(--primary);
}
.create button {
	background: var(--primary);
	color: #fff;
	border: 0;
	padding: 10px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 15px;
	width: 100%;
	transition: background 0.3s ease;
}

.create button:hover {
	background: var(--hover);
}