.blog-header {
    display: flex;
    justify-content: space-between;
}

.home-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.filter-buttons {
    display: flex;
    flex: 3;
}

.filter-buttons button {
    flex: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 12px 16px;
    font-size: 16px;
    color: var(--text);
    transition: background-color 0.3s ease;
    position: relative; /* To contain the pseudo-element */
}

.filter-buttons button:hover {
    background-color: var(--background-secondary);
}

.filter-buttons button.active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 60%; /* Adjust the width of the border */
    height: 4px; /* Adjust the height of the border */
    background-color: var(--primary);
    border-radius: 20px; /* Adjust the border radius */
}

.search {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.search-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.search input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 8px 0 0 8px; /* Only round left corners */
    background-color: var(--background-secondary);
    color: var(--text);
}

.search input:focus {
    outline: none;
    border: 1px solid var(--primary);
}

.search input:focus + button {
    outline: none;
    border: 1px solid var(--primary);
    border-left: none; /* Remove border on the left to merge with input */
}

.search button {
    background-color: var(--background-secondary);
    color: var(--text);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 0 8px 8px 0; /* Only round right corners */
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button:hover {
    background-color: var(--primary);
    color: var(--background-secondary);
}

.blog-preview {
    padding: 14px 18px;
    margin: 20px 0;
    color: var(--text);
    background-color: var(--background-secondary);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.blog-preview:hover {
    box-shadow: 0 0 10px var(--hover);
    border: 1px solid var(--hover);
    transform: translateX(-3px) translateY(-3px);
}

.blog-preview h2 {
    font-size: 20px;
    color: var(--primary);
    margin-bottom: 8px;
}

.blog-preview h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Prevent text wrapping */
    margin-bottom: 5px;
}

.blog-preview p {
    overflow: hidden;
    text-overflow: ellipsis;
}