@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

:root {
  --background-color: #fff;
  --primary-color: #ff7f3b;
  --primary-dark: #ff6716;
  --secondary-color: #666;
  --text: #333;

}

.App {
	background-image: url("../background.svg");
	background-size: cover;
	background-repeat: repeat-y;
  width: 100vw;
  min-height: 100vh;
}

.content {
	color: var(--text);
	max-width: 600px;
	margin: 0 auto;
	min-height: calc(100vh - 114px);
	padding: 20px;
	background: var(--background-color);
}

.text-decoration-none {
	text-decoration: none;
}

.text-align-center {
  text-align: center;
}

.back-button {
	color: var(--text);
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: color 0.3s ease;
  text-align: left;
}

.back-button:hover {
	color: var(--primary-color);
}

.timestamp {
  font-style: italic;
  color: var(--secondary-color);
}