@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.navbar {
	padding: 15px 20px;
	display: flex;
	align-items: center;
	max-width: 600px;
	margin: 0 auto;
	background: var(--background);
  border-bottom: 1px solid var(--secondary);
}

.navbar .logo {
  display: inline-flex;
  gap: 8px;
	max-width: 15%;
  color: var(--primary);
  text-decoration: none;
}

.navbar .logo img {
  width: 30px;
}

.navbar .links {
	display: flex;
	margin-left: auto;
	transition: background-color 0.3s ease;
	font-size: 15px;
  align-items: center;
}

.navbar .links .bubble {
	display: inline-flex;
	align-items: center;
	color: #fff;
	background: var(--background);
  border: 1px solid var(--primary);
	border-radius: 8px;
	padding: 6px 16px;
	transition: transform 0.3s ease, box-shadow 0.3s ease 0s;
	font-size: 15px;
	cursor: pointer;
	gap: 8px;
  height: fit-content;
  text-decoration: none;
}

.navbar .links .bubble:hover {
	transform: translateY(-2px) translateX(-2px);
  box-shadow: 0 0 10px var(--primary);
}

.navbar .links button {
	margin-left: 20px;
	text-decoration: none;
	transition: color 0.2s ease;
	text-align: center;
  border: none;
	cursor: pointer;
}

.account-button {
  color: var(--primary);
  background: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 0;
}

.account-button svg {
  width: 30px;
  height: 30px;
  fill: var(--primary);
  transition: fill 0.3s ease;
  transform: translateY(2px);
}

.account-button:hover {
  color: var(--hover);
}

@media screen and (max-width: 400px){
  .navbar .logo h1 {
    display: none;
  }
  .navbar .logo img {
    width: 40px;
  }
}