@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.navbar {
	padding: 15px 20px;
	display: flex;
	align-items: center;
	max-width: 600px;
	margin: 0 auto;
	background: var(--background-color);
  border-bottom: 1px solid #ddd;
}

.navbar .logo {
	max-width: 15%;
}

.madimi-one-regular {
	font-family: "Madimi One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.navbar .logo h1 {
	color: var(--primary-color);
}

.navbar .logo img {
	max-width: 100%;
	height: auto;
}

.navbar .links {
	display: flex;
	margin-left: auto;
	transition: background-color 0.3s ease;
	font-size: 15px;
  align-items: center;
}

.navbar .links .bubble {
	display: inline-flex;
	align-items: center;
	color: #fff;
	background-color: var(--primary-color);
	border-radius: 8px;
	padding: 6px 12px;
	transition: background-color 0.3s ease;
	font-size: 15px;
	cursor: pointer;
	gap: 8px;
  height: fit-content;
}

.navbar .links .bubble:hover {
	background-color: var(--primary-dark);
}

.navbar .links button {
	margin-left: 16px;
	text-decoration: none;
	transition: color 0.2s ease;
	text-align: center;
  border: none;
	cursor: pointer;
}

.navbar a {
	text-decoration: none;
	padding: 6px;
	transition: color 0.2s ease;
}
.navbar a:hover {
	color: var(--primary-color);
}

.account-button {
  color: var(--primary-color);
  background: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 0;
}

.account-button svg {
  width: 30px;
  height: 30px;
  fill: var(--primary-color);
  transition: fill 0.3s ease;
  transform: translateY(2px);
}

.account-button:hover {
  color: var(--primary-dark);
}