/* base styles */
* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* Create a wrapper for the navbar */
.navbar-wrapper {
  width: 100%; /* Spans the full width of the page */
  border-bottom: 1px solid #f2f2f2;
}

.navbar {
  padding: 5px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.navbar .logo {
  max-width: 15%;
}

.navbar .logo h1 {
  color: #ff7f3b;
}

.navbar .logo img {
  max-width: 100%;
  height: auto;
}

.navbar .links {
  display: flex;
  margin-left: auto;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-size: 15px;
}

.navbar .links .bubble {
  display: inline-flex;
  align-items: center;
  color: #fff;
  background-color: #ff7f3b;
  border-radius: 8px;
  padding: 6px 12px;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-size: 15px;
  cursor: pointer;
  gap: 8px;
}

.navbar .links .bubble:hover {
  color: #ffe7da;
  background-color: #ff6716;
}

.navbar .links button {
  margin-left: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
  border: none;
  text-align: center;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
  transition: color 0.3s ease;
}
.navbar a:hover {
  color: #ff7f3b;
}

.content {
  color: #333;
  max-width: 600px;
  margin: 0 auto;
  /*height: calc(100% - 120px);*/
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #ff7f3b;
  margin-bottom: 8px;
}
